.comment,
.comment_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 4rem;
}

.comment h4 {
  margin-left: 4rem;
}

input {
  padding: 5rem 20px;
  background-color: #212121;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-bottom: 1rem;
  color: white;
  font-size: 18px;
}

button {
  width: 10rem;
  padding: 10px 20px;
  background-color: teal;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  margin-top: 1rem;
}

.comment_single {
  margin: 4rem 4rem;
}

.container_comment {
  display: flex;
}

.user_comment {
  color: #ababab;
  font-size: 24px;
  font-weight: bold;
}

.container_user_pic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.user_pic {
  width: 5em;
}

.container_comment {
  margin-bottom: 2rem;
}

@media (max-width: 620px) {
  .comment,
  .comment_container, 
  h4,
  .comment_single {
    margin: 1rem 15px;
  }
}
