.col {
  max-width: 1100px;
}

.movieImage {
  border-radius: 6px;
  width: 272px;
  height: auto;
  height: 399px;
  margin-right: 2rem;
}

@media (max-width: 720px) {
  .movieImage {
    margin: 0;
  }
}
